Repository TaeKyeongKim/airbnb, pull requests merged in 2022-05, with the labels that each got.

#2 [공통] issue 와 PR 템플릿 추가
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#23 feat: 헤더 GNB 정적 화면 구현
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Header/Header.styled.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/UserMenu/UserMenu.styled.ts
  frontend/src/components/Header/UserMenu/UserMenu.tsx
  frontend/src/styles/theme.ts
  frontend/yarn.lock
Labels: feature, frontend

#25 refactor: 1-1 PR 리뷰반영 GNB 리팩토링
  frontend/src/components/Header/GNB/GNB.tsx
  frontend/src/components/Header/GNB/NavItem.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/mockData/menus.ts
Labels: refactor, frontend

#31 refactor: 불필요한 코드 삭제
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/Buttons/Buttons.style.ts
Labels: refactor, frontend

#33 feat: 초기화면 검색바 및 모달 구현
  frontend/src/@types/index.d.ts
  frontend/src/components/Header/Header.style.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/SearchBar/SearchBar.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/Buttons/Buttons.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/Buttons/Buttons.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/CheckInOut.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/PeopleCount.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/index.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemTemplate/SelectItemTemplate.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemTemplate/SelectItemTemplate.tsx
  frontend/src/components/Header/UserMenu/UserMenu.style.ts
  frontend/src/components/Header/UserMenu/UserMenu.tsx
  frontend/src/styles/theme.ts
Labels: feature, frontend

#35 refactor: 코드 리팩토링
  frontend/package.json
  frontend/src/@types/index.d.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemTemplate/SelectItemTemplate.style.ts
  frontend/src/components/Header/UserMenu/UserMenu.style.ts
Labels: refactor, frontend

#41 refactor: 1-1 PR 리뷰반영
  frontend/src/@types/index.d.ts
  frontend/src/components/Header/SearchBar/SearchBar.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/CheckInOut.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/PeopleCount.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemTemplate/SelectItemTemplate.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemTemplate/SelectItemTemplate.tsx
  frontend/src/styles/theme.ts
Labels: refactor, frontend

#51 [FE] 라우터 구현
  frontend/src/App.tsx
  frontend/src/components/Header/SearchBar/SearchBar.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemTemplate/SelectItemTemplate.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemTemplate/SelectItemTemplate.tsx
  frontend/src/components/Main/SearchResult/SearchResult.tsx
  frontend/src/components/NotFound/NotFound.tsx
  frontend/src/index.tsx
  frontend/src/router/index.d.ts
  frontend/src/router/pages.tsx
  frontend/src/router/router.tsx
  frontend/src/styles/theme.ts
  frontend/tsconfig.json
Labels: feature, frontend

#52 [iOS] Feature: filter view controller implementation
  Airbnb/Airbnb/Common/Extension_Style.swift
  Airbnb/Airbnb/Helpers/FlowLayoutMaker.swift
  Airbnb/Airbnb/Helpers/Observable.swift
  Airbnb/Airbnb/Screens/Filter/Model/FilterCategory.swift
  Airbnb/Airbnb/Screens/Filter/View/ContainerCell.swift
  Airbnb/Airbnb/Screens/Filter/View/FilterListCell.swift
  Airbnb/Airbnb/Screens/Filter/View/FilterViewController.swift
  Airbnb/Airbnb/Screens/Home/Model/CategoryType.swift
  Airbnb/Airbnb/Screens/Home/Model/City.swift
  Airbnb/Airbnb/Screens/Home/Model/Hero.swift
  Airbnb/Airbnb/Screens/Home/Model/RandomSite.swift
  Airbnb/Airbnb/Screens/Home/Model/Time.swift
  Airbnb/Airbnb/Screens/Home/View/HomeViewController.swift
  Airbnb/Airbnb/Screens/Home/View/SectionHeader.swift
  Airbnb/Airbnb/Screens/Home/ViewModel/CityCellViewModel.swift
  Airbnb/Airbnb/Screens/Home/ViewModel/HomeViewModel.swift
  Airbnb/Airbnb/Screens/Home/ViewModel/RandomSiteCellViewModel.swift
  Airbnb/Airbnb/Screens/Search/View/SearchViewController.swift
  Airbnb/Airbnb/Screens/Search/ViewModel/SearchHeaderViewModel.swift
  Airbnb/Airbnb/Screens/Search/ViewModel/SearchViewModel.swift
  Airbnb/Airbnb/Screens/Search/model/SearchHeader.swift
  Airbnb/Airbnb/Support/Assets.xcassets/CityIcons/defaultCity.imageset/Contents.json
  Airbnb/Airbnb/Support/Assets.xcassets/CityIcons/defaultCity.imageset/defaultCity.jpeg
Labels: iOS
