Repository TaeKyeongKim/airbnb, pull requests merged in 2022-06, with the labels that each got.

#69 [BE] 숙소 목록 조회 시 위경도 범위 계산 오류
  backend/src/main/java/com/codesquad/airbnb/common/embeddable/Location.java
  backend/src/main/java/com/codesquad/airbnb/room/domain/LocationCluster.java
  backend/src/main/java/com/codesquad/airbnb/room/repository/RoomRepositoryCustomImpl.java
Labels: bug, backend

#71 refactor: 2-1 리뷰 반영
  frontend/.gitignore
  frontend/package.json
  frontend/src/router/pages.tsx
  frontend/src/router/router.tsx
Labels: refactor, frontend

#74 [FE] 요금 조정 모달 구현
  frontend/src/components/Header/SearchBar/Context/SearchBarContexts.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/PriceChart.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/PriceSelectArea.tsx
  frontend/src/components/Header/SearchBar/SearchBar.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/router/index.d.ts
  frontend/src/router/pages.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/utils.ts
Labels: feature, frontend

#75 [FE] 라우터 Link Dependency cycle오류 해결
  frontend/src/App.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/PriceChart.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/PriceSelectArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/components/Main/Main.tsx
  frontend/src/index.tsx
  frontend/src/router/Contexts.ts
  frontend/src/router/Link.tsx
  frontend/src/router/router.tsx
Labels: bug, frontend

#76 [FE] 요금 조정 모달 구현 리팩토링
  frontend/src/components/Header/SearchBar/ModalInnerItems/PriceChart.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
Labels: refactor, frontend

#77 [FE] 요금 조정 모달 구현
  frontend/src/@types/import-png.d.ts
  frontend/src/assets/pause-circle2.svg
  frontend/src/components/Header/SearchBar/Context/SearchBarContexts.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/PriceSelectArea.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/ReservationFeeModal/PriceChart.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/ReservationFeeModal/PriceSelectArea.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/ReservationFeeModal/RangeSlider.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/ReservationFeeModal/ReservationFeeModal.style.ts
  frontend/src/components/Header/SearchBar/SearchBar.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/contexts/QueryContexts.tsx
  frontend/src/contexts/contexts.ts
  frontend/src/index.tsx
Labels: feature, frontend

#82 [FE] 검색 결과 화면 구성
  frontend/.gitignore
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Header/ChildNodes.tsx
  frontend/src/components/Header/Header.style.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/ReservationFeeModal/PriceChart.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/ReservationFeeModal/ReservationFeeModal.style.ts
  frontend/src/components/Header/SearchBar/SearchBar.style.ts
  frontend/src/components/Header/SearchBar/SearchBar.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/CheckInOut.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/PeopleCount.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/components/Header/UserMenu/UserMenu.style.ts
  frontend/src/components/Main/Main.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/AccomodationsList.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/Filter/Filter.style.ts
  frontend/src/components/Main/SearchResult/AccomodationsList/Filter/Filter.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/Filter/Item.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/ListItemCard/ListItemCard.tsx
  frontend/src/components/Main/SearchResult/MapArea/MapArea.tsx
  frontend/src/components/Main/SearchResult/SearchResult.style.ts
  frontend/src/components/Main/SearchResult/SearchResult.tsx
  frontend/src/contexts/QueryContexts.tsx
  frontend/src/contexts/SearchBar.tsx
  frontend/src/contexts/contexts.ts
  frontend/src/index.tsx
  frontend/src/router/Contexts.ts
  frontend/src/router/Link.tsx
  frontend/src/router/pages.tsx
  frontend/src/router/router.tsx
  frontend/src/styles/theme.ts
Labels: feature, frontend

#85 [FE] 2주차 리뷰반영 - 2
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Main/SearchResult/SearchResult.tsx
  frontend/src/router/Contexts.ts
  frontend/src/router/Link.tsx
  frontend/src/router/index.d.ts
  frontend/src/router/pages.tsx
  frontend/src/router/router.tsx
Labels: refactor, frontend

#91 [FE] 검색처리 Link, router 개선
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/Filter/Filter.tsx
  frontend/src/components/Main/SearchResult/MapArea/MapArea.tsx
  frontend/src/components/Main/SearchResult/SearchResult.tsx
  frontend/src/components/NotFound/NotFound.tsx
  frontend/src/router/Contexts.ts
  frontend/src/router/Link.tsx
  frontend/src/router/index.d.ts
  frontend/src/router/router.tsx
Labels: feature, frontend

#92 [FE] 검색결과 관련 버그
  frontend/src/components/Header/ChildNodes.tsx
  frontend/src/components/Header/Header.style.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/SearchBar/ModalInnerItems/ReservationFeeModal/PriceChart.tsx
  frontend/src/components/Header/SearchBar/SearchBar.style.ts
  frontend/src/components/Header/SearchBar/SearchBar.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/ButtonArea/ButtonArea.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/CheckInOut.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/PeopleCount.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/Filter/Filter.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/ListItemCard/ListItemCard.tsx
  frontend/src/components/Main/SearchResult/MapArea/MapArea.tsx
  frontend/src/components/Main/SearchResult/SearchResult.style.ts
  frontend/src/components/Main/SearchResult/SearchResult.tsx
  frontend/src/components/NotFound/NotFound.tsx
  frontend/src/contexts/SearchBar.tsx
  frontend/src/contexts/contexts.ts
  frontend/src/index.tsx
  frontend/src/router/Contexts.ts
  frontend/src/router/Link.tsx
  frontend/src/router/index.d.ts
  frontend/src/router/router.tsx
  frontend/src/styles/theme.ts
Labels: bug, frontend

#96 [FE] 검색 필터 표시 및 지도 버튼 동작
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Header/SearchBar/ModalInnerItems/ReservationFeeModal/PriceSelectArea.tsx
  frontend/src/components/Header/SearchBar/SearchBar.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/CheckInOut.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/PeopleCount.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/ReservationFee.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.style.ts
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItem/SelectItem.tsx
  frontend/src/components/Header/SearchBar/SelectItemArea/SelectItemArea.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/Filter/Filter.tsx
  frontend/src/components/Main/SearchResult/AccomodationsList/ListItemCard/ListItemCard.tsx
  frontend/src/components/Main/SearchResult/MapArea/MapArea.style.ts
  frontend/src/components/Main/SearchResult/MapArea/MapArea.tsx
  frontend/src/components/Main/SearchResult/SearchResult.style.ts
  frontend/src/components/Main/SearchResult/SearchResult.tsx
  frontend/src/router/router.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/utils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: feature, frontend
